# DEBUG = True
# SECRET_KEY = 'add your secret key here'
# ALLOWED_HOSTS=localhost,127.0.0.1
# SECURE_SSL_REDIRECT=False
# SESSION_COOKIE_SECURE=False
# CSRF_COOKIE_SECURE=False
# SECURE_HSTS_SECONDS = 31536000